.logo-container,
.logo-container a {
    display: flex;
    align-items: center;
}

.logo-container {
    a {
        text-decoration: none;
        color: #000;
    }
    strong {
        padding: 4px;
        padding-right: 12px;
    }
}
