<form class="example-form" [formGroup]="searchForm">
    <mat-icon>search</mat-icon>
    <mat-form-field appearance="fill">
        <mat-label>Search param</mat-label>
        <mat-select formControlName="searchParamControl">
            <mat-option *ngFor="let searchParam of searchParamsFilter"
                [value]="searchParam">{{searchParam}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Search by tags</mat-label>
        <mat-select formControlName="tagsControl" multiple>
            <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option">{{option.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="accent" aria-label="Search" (click)="onSearch()">
        <mat-icon>search</mat-icon>Поиск...
    </button>
</form>